// .mayak {
//   background-color: ghostwhite;
//   background-image: url("../img/mayak4.jpg");
//   background-size: cover;
//   width: 100%;
//   min-height: 335px;
//   background-position: 50% 43%;
// }

.mayak {
  background-color: ghostwhite;
  background-image: url("../img/mayak2.jpg");
  // background-size: cover;
  width: 100%;
  min-height: 321px;
  background-position: 51% 12%;
  background-size: 303%;
  position: relative;
}

.quote {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.foto__left {
  background-color: ghostwhite;
  background-image: url("../img/foto.jpg");
  background-size: cover;
  min-height: 400px;
  background-position: 50% 75%;
  // background-repeat: no-repeat;
  // width: 100%;
}

.hiddenh1 {
  visibility: hidden;
  position: absolute;
}

.features__title {
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
  margin: 10px auto 20px;
  text-align: center;
  // text-transform: uppercase;
  font-family: "Exo";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // text-decoration: underline;
}

h1 {
  text-transform: none;
}

.features__title--padd {
  // margin-top: 10px;
  margin-bottom: 15px;
}

.features__images {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.features__link {
  padding: 0 50px;
  margin: 15px 0;
  position: relative;
  color: #1091c7;
  display: block;
}

.features__about {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.features__about-text {
  font-size: 15px;
  // line-height: 24px;
  padding-right: 0px;
  text-align: justify;
  margin-bottom: 0;
  // padding: 0 10px;

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h4 {
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
  }
}

.extrawords {
  border-top: 1px solid black;
  padding-top: 20px;
  // margin: 20px 0;
  // padding: 20px 0;
  // border-bottom: 1px solid black;
}

.problem {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0,153,218,0.05);
  background-color: ghostwhite;
  margin-bottom: 5px;
}

.problem__name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.problem__name__withborder {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

.memo {
  margin-bottom: 30px;
}

.memo ul {
    // margin-left: 15px; /* Отступ слева в браузере IE и Opera */
    padding-left: 15px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.memo__list {
  font-weight: bold;
}

.responds {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: space-around;
  align-items: center;
}

@media #{$tablet-widths} {
  .mayak {
    background-color: ghostwhite;
    background-image: url("../img/mayak.jpg");
    // background-size: cover;
    width: 100%;
    min-height: 480px;
    background-position: 27% 5%;
    background-size: 158%;
  }

  .foto__left {
    background-color: ghostwhite;
    background-image: url("../img/fotoplanw.jpg");
    background-size: cover;
    min-height: 484px;
    // background-position: 50% 15%;
    // background-repeat: no-repeat;
    // width: 100%;
  }


  .features {
    margin: 0 10px;
  }

  .features__title {
    font-size: 35px;
    line-height: 50px;
    // margin: 20px auto 25px;
  }

  .features__title--padd {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .features__about-text {
    font-size: 16px;
    line-height: 26px;

    h4 {
      text-align: left;
    }
  }

  .problem {
    width: 45%;
    margin-right: 5px;
  }

  .features__problems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .features__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .features__doki {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    align-items: center;
  }

  .features__less {
    width: 55%;
    margin-left: 10px;
  }

  .foto__left {
    width: 43%;
    align-self: center;
  }

  .features__paper {
    width: 45%;
  }

  .responds__block {
    width: 31%;
    margin: 5px;
  }

  .responds__block__big {
    width: 48%;
    margin: 5px;
  }
}

@media #{$desktop-widths} {
  .mayak {
    background-color: ghostwhite;
    background-image: url("../img/mayak.jpg");
    width: 100%;
    min-height: 506px;
    background-position: 95% 5%;
    background-size: auto;
  }


  .foto__left {
    background-image: url("../img/foto.jpg");
    background-size: cover;
    min-height: 495px;
    background-position: 50% 75%;
    // background-repeat: no-repeat;
    // width: 100%;
  }

  .features__title {
    // margin: 30px auto 25px;
  }

  .features__main {
    justify-content: space-between;
  }

  .features__doki {
    // justify-content: space-between;
    margin: 20px 0;
  }

  .features__less {
    width: 63%;
    margin-left: 10px;
  }

  .foto__left {
    width: 34%;
    align-self: center;
  }

  .features__paper {
    width: 40%;
  }

  .responds__block {
    width: 23%;
  }
}
