.features {
  // margin-top: 20px;
}

.features__title {
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
  margin: 10px auto 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Exo";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // text-decoration: underline;
}

.features__title--padd {
  // margin-top: 10px;
  margin-bottom: 15px;
}

.features__images {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.features__link {
  padding: 0 50px;
  margin: 15px 0;
  position: relative;
  color: #1091c7;
  display: block;
}

.features__about {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.features__about-text {
  font-size: 15px;
  // line-height: 24px;
  padding-right: 0px;
  text-align: justify;
  margin-bottom: 0;
  padding: 0 10px;

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h4 {
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
  }
}

.extrawords {
  border-top: 1px solid black;
  padding-top: 20px;
  // margin: 20px 0;
  // padding: 20px 0;
  // border-bottom: 1px solid black;
}

.problem {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0,153,218,0.05);
  background-color: ghostwhite;
  margin-bottom: 5px;
}

.problem__name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

// .memo li {
//   list-style-type: none;
// }

.memo ul {
    // margin-left: 15px; /* Отступ слева в браузере IE и Opera */
    padding-left: 15px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.memo__list {
  font-weight: bold;
}

@media #{$tablet-widths} {
  .features {
    margin: 0 20px;
  }

  .features__title {
    font-size: 35px;
    line-height: 50px;
    // margin: 20px auto 25px;
  }

  .features__title--padd {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .features__about-text {
    font-size: 16px;
    line-height: 26px;

    h4 {
      text-align: left;
    }
  }

  .problem {
    width: 45%;
    margin-right: 5px;
  }

  .features__problems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media #{$desktop-widths} {
  .features__title {
    // margin: 30px auto 25px;
  }
}
