.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.projects__block {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;
  background-color: rgba(0,153,218,0.05);
}

.projects__info {
  padding: 10px;
  font-family: "exo";
}

.projects__name {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
}

.projects__address {
  margin-top: 5px;
  margin-bottom: 5px;
}

.projects__photo {
  text-align: center;
}

.projects__img-link {
  margin-right: 10px;
}

.projects__image {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 20px;
  width: 46%;
  box-shadow: 2px 2px 12px 1px rgba(0,0,0,.2)
}

.projects__img-link:nth-child(2n) {
  margin-right: 0;
}

.projects__img-link:last-child {
  margin-right: 0;
}

// photobox

.pbCaptionText {
  padding-left: 0;
}

@media #{$tablet-widths} {
  .projects__image {
    width: 32%;
    vertical-align: middle;
  }

  .projects__block {
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 20px;
  }

  .projects__img-link:nth-child(2n) {
    margin-right: 10px;
  }
}
